{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no">
    <link rel="stylesheet" href="{% static 'style_cad_professor.css' %}">
    <title>Formulário</title>
</head>
<body>
    <div class="container">
        <div class="form-image">
            <img src="{% static 'Teacher student-pana.svg' %}">
        </div>


        <div class="form">
            <div class="form-header">
                <div class="title">
                    <h1>Cadastrar Professor</h1></div>    
            </div>

            <form action="{% url 'professor_novo' %}" method="POST">
                <div class="input-group">
                    <div class="input-box">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="continue-button">
                      <button type="submit"><a>Cadastrar</a></button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</body>
</html>