{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="{% static 'style_nav_bar_interno.css' %}" />
  </head>

  <body>
    <header>
      <nav>
        <a class="logo" href="/">Edu-Manage</a>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li><a href="{% url 'welcome' %}">Início</a></li>
          <li class="dropdown">
            <a href="#">Adicionar</a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'aluno_cadastrar' %}">Aluno</a></li>
              <li><a href="{% url 'professor_cadastar' %}">Professor</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Editar</a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'aluno_cadastrado' %}">Aluno</a></li>
              <li><a href="{% url 'professor_cadastrado' %}">Professor</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Excluir</a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'aluno_cadastrado' %}">Aluno</a></li>
              <li><a href="{% url 'professor_cadastrado' %}">Professor</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <main>
        {% block content %}{% endblock %}        
    </main>
    <script src="{% static 'nav_mobile_interno.js' %}"> </script>
  </body>
</html>
